body {
    background-color: bisque;
}

.container {
    margin: 0 15%;
}

li a {
  
    text-decoration: none;
    list-style: none;
    color: blue
}

ul > li {
    display: inline-block;
    list-style: none;
    
}

img:first-of-type + img {
    border: 5px dotted black;
}

:link {
    font-weight: bold;
}

:visited {
    text-decoration: line-through;
}

a:hover {
    border: 2px darkblue solid;
    background-color: lightblue;
}

a:active {
    border: 2px green dotted;
    background-color: lightgreen;
}

.photos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
   
}

.photo {
    height: 250px;
    margin: 0 50%;
    transform: translateX(-50%);
}

.vidbox {
    margin-left: 50%;
    transform: translateX(-50%);
   
}

.movie {
    
    
}